/* Custom styles */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.navbar {
  margin-bottom: 20px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #f8f9fa;
}

.container {
  max-width: 960px;
}

.list-inline-item {
  margin-right: 5px;
}

.list-inline-item:last-child {
  margin-right: 0;
}

.help-block {
  font-size: 12px;
  color: #737373;
}

.social-buttons .btn {
  font-size: 12px;
  line-height: 1.5;
  padding: 6px 10px;
  border-radius: 2px;
}

.btn-fb {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-tw {
  background-color: #1dcaff;
  border-color: #1dcaff;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
